*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(112, 112, 244),skyblue);
}
.container{
    height: fit-content;
    width: 350px;
    padding: 5px;
    background-color: rgb(224, 146, 189);
    border-radius: 10px;
    display: flex;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow:0px 0px 12px rgba(0, 0,0, 0.3); */
animation: blowing 1s infinite alternate ;
}
@keyframes blowing {
    from{
       
        box-shadow: 0px 0px 20px rgba(0, 0,0, 0.2);
    }
    to{
        box-shadow: 5px 0px 80px rgb(174, 0, 96)
        10px 10px 70px rgb(225, 0, 97)
        10px 10px 90px rgb(144, 0, 62);

        
    }
    
}

h1{
    font-size: 22px;
    color: brown;
}
 input{
    height: 150px;
    width: 90%;
   text-align: center;
    border: none;
    border-radius: 10px;
}
button{
    margin-top: 10px;
    height: 2rem;
    width: 90%;
    background-color: rgb(27, 116, 27);
    border: none;
    color: white;
    font-weight: bold;
}

span{
    padding: 5px;
    margin-bottom: 20px;
}